.Gif {
    border: 1px solid #eee;
    color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 16px;
    width: 100%;
    padding: 32px;
}

.Gif img {
    object-fit: contain;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 32px;
}